html, body {
    height: 100%;
}

body {
    background-color: #1f1f1f;
    color: #ffea00;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: #ffea00;
    width: auto;
    height: 47px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}


a.cabecalho {
    color: rgb(31 31 31);
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
}

#nomeAcademia{
    color: rgb(31,31,31);
}

main{
    align-self: center;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
}

.menu{
    background-image: url("./sources/acad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    color:#fff;
    width: 50%;
    border-radius: 25px 0 0 25px;


}
.section{
    background-color: #ffea00;
    color:#000;
    width: 50%;
    height: 100%;
    border-radius: 0 25px 25px 0 ;
    align-self: center;


}

#iframe{
    width: 50%;
    height: 50%;
    margin: auto;
}